<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="src/app/app.js"></script>
    <script src="src/app/controllers/appController.js"></script>
    <script src="src/app/filters/decisionFilter.js"></script>
    <script src="src/app/constants/urlConstants.js"></script>
    <script src="src/app/services/studentService.js"></script>
</head>
<body ng-app="studentsInfo" ng-controller="AppController as appVm">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Enter first name or last name" ng-model="search.nameUkr">
                    </div>
                    <div class="col-sm-2">
                        <select ng-model="appVm.decision">
                                <option>All</option>
                                <option>Yes</option>
                                <option>No</option>
                                <option>Maybe</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default" ng-click="appVm.getData()">Refresh</button>
                    </div> 
                </div>
                 <table class="table">
                     <thead>
                         <tr>
                             <th><span class="glyphicon glyphicon-sort" aria-hidden="true" ng-click="appVm.order('nameUkr')"></span>Name (ukr)</th>
                             <th><span class="glyphicon glyphicon-sort" aria-hidden="true" ng-click="appVm.order('nameUkr')"></span>Name (eng)</th>
                             <th >English Level</th>
                             <th>Link to social network</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="student in appVm.students | filter:search.nameUkr | orderBy:appVm.predicate:appVm.reverse | DecisionFilter:appVm.decision" ng-class="appVm.decisionByColor[student.conclusion]" ng-click="appVm.openUserProfile(student)">
                             <td ng-bind="student.nameEng"></td>
                             <td ng-bind="student.nameUkr"></td>
                             <td ng-bind="student.engLevel"></td>
                             <td class="center"><a ng-show="!(student.socialLink=='')" href="{{student.socialLink}}"  target="_blank" title="{{student.socialLink}}"><span class="glyphicon glyphicon-globe" aria-hidden="true" ng-click="appVm.order('nameUkr')"></span></a></td>
                         </tr>
                     </tbody>
                 </table>
            </div>
            <div class="col-sm-6" ng-show="appVm.studentProfile">
                        <p>Ім'я: <strong>{{appVm.studentProfile.nameUkr}}</strong></p>
                 
                        <p>Name: <strong>{{appVm.studentProfile.nameEng}}</strong></p>
             
                        <p>Mark: <strong>{{appVm.studentProfile.mark}}</strong></p>
                    
                        <p>Mobile Number: <strong>{{appVm.studentProfile.phone}}</strong></p>
        
                        <p>E-mail: <strong>{{appVm.studentProfile.email}}</strong></p>
                      
                        <p>English Level: <strong>{{appVm.studentProfile.engLevel}}</strong></p>
                    
                        <p>Why have you decided to join this course?:<strong> {{appVm.studentProfile.entryDecision}}</strong></p>
                        <hr>
                <form>
                    <div class="form-group">
                        <label for="teacherOpinion">Teacher Opinion:</label>
                        <textarea class="form-control" name="teacherOpinion" id="teacherOpinion" rows="3" ng-model="appVm.studentProfile.feedback"></textarea>
                    </div>
                    <div class="form-group  input-group-sm">
                        <label for="decision">Decision:</label>
                        <select name="decision" class="form-control" id="decision" ng-model="appVm.studentProfile.conclusion">
                            <option>Yes</option>
                            <option>No</option>
                            <option selected="selected">Maybe</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" ng-click="appVm.updataStudent(appVm.studentProfile)">Submit</button>
                    </div>
                </form>
            </div>   
        </div>
    </div>
</body>
</html>