<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Students info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="src/app/app.js"></script>
    <script src="src/app/controllers/appController.js"></script>
    <script src="src/app/filters/decisionFilter.js"></script>
    <script src="src/app/constants/urlConstants.js"></script>
    <script src="src/app/services/studentService.js"></script>
    <script src="src/libs/angular-smooth-scroll.js"></script>
    <script src="src/app/directives/interviewersListDirective.js"></script>
</head> 

<body ng-app="studentsInfo" ng-controller="AppController as appVm">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 top">
                <div class="row">
                    <div class="col-sm-6 col-xs-6 col-md-8">
                        <input type="text" class="form-control" placeholder="Enter first name or last name" ng-model="search.nameUkr">
                    </div>
                    <div class="col-sm-4 col-xs-4 col-md-3">
                        <select class="form-control" ng-model="appVm.decision">
                            <option>All</option>
                            <option>Yes</option>
                            <option>No</option>
                            <option>Maybe</option>
                        </select>
                    </div>
                    <div class="col-sm-2 col-xs-2 col-md-1">
                        <span ng-click="appVm.getStudents()" class="btn btn-default glyphicon glyphicon-refresh"></span>
                    </div>
                </div>
                <div class="showbox" ng-show="appVm.showAnimation">
                    <div class="loader">
                        <svg class="circular" viewBox="25 25 50 50">
                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                        </svg>
                    </div>
                </div>
                <table class="table" ng-show="!appVm.showAnimation">
                    <thead>
                        <tr>
                            <th><span class="glyphicon glyphicon-sort" aria-hidden="true" ng-click="appVm.order('nameUkr')"></span>Name (eng)</th>
                            <th><span class="glyphicon glyphicon-sort" aria-hidden="true" ng-click="appVm.order('nameUkr')"></span>Name (ukr)</th>
                            <th>English</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="student in appVm.students | filter:search.nameUkr | filter:search.nameEng | DecisionFilter:appVm.decision | orderBy:appVm.predicate:appVm.reverse" ng-class="appVm.decisionByColor[student.conclusion]" ng-click="appVm.openUserProfile(student)">
                            <td ng-bind="student.nameEng"></td>
                            <td ng-bind="student.nameUkr"></td>
                            <td ng-bind="student.engLevel"></td>
                            <td class="center"><a ng-show="!(student.socialLink=='')" href="{{student.socialLink}}" target="_blank" title="{{student.socialLink}}"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></td>
                            <td>{{student.interviewTime}}</td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="appVm.errors">{{appVm.errors}}</div>
            </div>
            <div class="col-sm-6 top">
                 <div id="interviewersContainer">
                    <div ng-repeat="interviewer in appVm.interviewers" class="interviewer-item">
                        <select ng-model="interviewer.name">
                            <option value="Yevhen Lysyakov">Yevhen Lysyakov</option>
                            <option value="Roman Taraban">Roman Taraban</option>
                            <option value="Yuriy Dzhavala">Yuriy Dzhavala</option>
                            <option value="Yaroslav Porodko">Yaroslav Porodko</option>
                            <option value="Taras Kharuk">Taras Kharuk</option>
                            <option value="Yaroslav Dmytriv">Yaroslav Dmytriv</option>
                            <option value="Yaroslav Halka">Yaroslav Halka</option>
                        </select>
                        <input type="button" class="button btn-success" value="+" ng-click="appVm.addInterviewer()"/>
                        <input type="button" ng-class="{'button btn-danger': appVm.interviewers.length > 1, 'button btn-warning': appVm.interviewers.length === 1}" value="-" ng-click="appVm.deleteInterviewer(interviewer)" ng-disabled="appVm.interviewers.length === 1"/>
                    </div>
                    <span class="alert alert-danger" role="alert" ng-show="appVm.uniqueInterviewerError">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Interviewers have to be unique!
                    </span>
                </div>
                <div ng-show="appVm.studentProfile">
                <p>Ім'я: <strong>{{appVm.studentProfile.nameUkr}}</strong></p>
                <p>Name: <strong>{{appVm.studentProfile.nameEng}}</strong></p>
                <p>Mark: <strong>{{appVm.studentProfile.mark}}</strong></p>
                <p>Position: <strong>{{appVm.studentProfile.position}}</strong></p>
                <p>Mobile Number: <strong>{{appVm.studentProfile.phone}}</strong></p>
                <p>E-mail: <strong>{{appVm.studentProfile.email}}</strong></p>
                <p>English Level: <strong>{{appVm.studentProfile.engLevel}}</strong></p>
                <p>Why have you decided to join this course?:<strong> {{appVm.studentProfile.entryDecision}}</strong></p>
                <hr>
                <form>
                    <div class="form-group">
                        <label for="teacherOpinion">Teacher Opinion:</label>
                        <textarea class="form-control" name="teacherOpinion" id="teacherOpinion" rows="3" ng-model="appVm.studentProfile.feedback"></textarea>
                    </div>
                    <div class="form-group  input-group-sm">
                        <label for="decision">Decision:</label>
                        <select name="decision" class="form-control" id="decision" ng-model="appVm.studentProfile.conclusion">
                            <option>Yes</option>
                            <option>No</option>
                            <option selected="selected">Maybe</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" ng-click="appVm.updataStudent(appVm.studentProfile)">Submit</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>