<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students info</title>
    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/ng-table/dist/ng-table.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="studentsInfo" ng-controller="appController as appVm">
    <div class="container">
        <div class="page-header">
            <h2>Information about students</h2>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Students</h3>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter first name or last name" ng-model="search.nameUkr">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </span>
                        </div>
                    </div>                   
                </div>
                 <table class="table">
                    <caption>All students</caption>
                     <thead>
                         <tr>
                             <th>First and Last Name (ukr)</th>
                             <th>First and Last Name (eng)</th>
                             <th>English Level</th>
                             <th>Link to social network account (facebook, vk, etc)</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="student in appVm.students | filter:search.nameUkr" ng-class="appVm.decisionByColor[student.conclusion]" ng-click="appVm.openUserProfile(student)">
                             <td>{{student.nameEng}}</td>
                             <td>{{student.nameUkr}}</td>
                             <td>{{student.engLevel}}</td>
                             <td>{{student.socialLink}}</td>
                         </tr>
                     </tbody>
                 </table>
            </div>
            <div class="col-sm-6">
                <h3>Student's profile</h3>
                <form>
                    <ul>
                        <div class="form-group input-group-sm">
                            <label>First and Last Name (ukr):</label>
                            <input type="text" class="form-control" name="firstName" id="firstName" readonly="true" ng-model="appVm.studentProfile.nameUkr">
                        </div>
                        <div class="form-group input-group-sm">
                            <label>First and Last Name (eng):</label>
                            <input type="text" class="form-control" name="lastName" readonly="true" ng-model="appVm.studentProfile.nameEng">
                        </div>
                        <div class="form-group input-group-sm">
                            <label>Mobile Number:</label>
                            <input type="text" class="form-control" name="mobileNumber" readonly="true" ng-model="appVm.studentProfile.phone">
                        </div>
                        <div class="form-group input-group-sm">
                            <label>Email:</label>
                            <input type="text" class="form-control" name="email" readonly="true" ng-model="appVm.studentProfile.id">
                        </div>
                        <div class="form-group input-group-sm">
                            <label>English Level:</label>
                            <input type="text" class="form-control" name="englishLevel" readonly="true" ng-model="appVm.studentProfile.engLevel">
                        </div>
                        <div class="form-group input-group-sm">
                            <label>Why have you decided to join this course?:</label>
                            <input type="text" class="form-control" name="selfDescription" readonly="true" ng-model="appVm.studentProfile.entryDecision">
                        </div>
                        <div class="form-group">
                            <label for="teacherOpinion">Teacher Opinion:</label>
                            <textarea class="form-control" name="teacherOpinion" id="teacherOpinion" rows="3" ng-model="appVm.studentProfile.feedback"></textarea>
                        </div>
                        <div class="form-group  input-group-sm">
                            <label for="decision">Desicion:</label>
                            <select name="decision" class="form-control" id="decision" ng-model="appVm.studentProfile.conclusion">
                                <option>Yes</option>
                                <option>No</option>
                                <option>Maybe</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default" ng-click="appVm.send(appVm.studentProfile)">Submit</button>
                            <button class="btn btn-default">Refresh</button>
                        </div>
                    </ul>
                </form>
            </div>   
        </div>
    </div>
    <script src="../vendor/jquery/dist/jquery.min.js"></script>
    <script src="../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../vendor/angular/angular.min.js"></script>
    <script src="../vendor/ng-table/dist/ng-table.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>